body {
  background-color: #CAF0F8;
  color: black;
  font-family: 'Kumbh', sans-serif;
  padding: 150px;
  padding-top: 50px;
  border: 5px solid black;
}

#logo {
  background-color: #03045E;
  background-image: linear-gradient(to top, #023E8A 0%, #0077B6 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  padding: 0px 270px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 20px 10px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #0096C7;
  color: #fff;
  position: relative;
  z-index: 2; 
  font-size: 1rem;
  background-image: linear-gradient(to top, #00B4D8 0%, #48CAE4 100%);
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.35s;
  float: right;
}

.button:hover {
  background:#fff;
}

.button:hover:after {
  width: 100%;
}

h4 {
  padding-top: 100px;
}

.about {
  text-align: center
}

.instructions {
  text-align: center;  
}

ol {
  display: inline-block;
  text-align: left;
}

form {
 padding: 0px 320px;
}

#result {
  padding-top: 100px;
}